.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 16px;
    margin-top: 20px;
}

.card {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
    background-color: var(--page-bg-color);
}

.title-card {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.tag {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 1px 6px;
    color: var(--button-text);
    background-color: var(--button-bg);
    border-radius: 6px;
}